p,
h1,
h2,
h3,
h4 {
  margin: 0;
}

ul, ol {
  padding-left: 0;
  margin: 0;
}

.button {
  border: transparent;
}

body {
  font-family: "Roboto", Tahoma, sans-serif;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

.modal {
  padding-top: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  position: absolute;
  width: 528px;
  min-height: 581px;
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--timing-function-trasition), opacity var(--timing-function-trasition), visibility var(--timing-function-trasition);
  opacity: 1;
}

.icon-close-btn {
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: transparent;
}

.icon-close {
  transition: fill var(--timing-function-trasition);
}
.icon-close:hover {
  fill: var(--akcent-color);
}

.modal-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 12px;
}

.modal-input {
  width: 448px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding-left: 42px;
  outline: none;
  transition: border-color var(--timing-function-trasition) fill var(--timing-function-trasition);
  /* margin-top: 4px; */
}
.modal-input:focus {
  border-color: var(--akcent-color);
}

.modal-input:focus + .modal-icon {
  fill: var(--akcent-color);
}

.modal-label {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.2;
  color: #757575;
}

.modal-field {
  position: relative;
  margin-bottom: 10px;
  margin-top: 4px;
}

.modal-field-commit {
  margin-bottom: 20px;
}

.modal-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
}

.modal-text-area {
  width: 100%;
  height: 120px;
  resize: none;
  padding-top: 12px;
  padding-right: 16px;
  padding-bottom: 12px;
  padding-left: 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  color: #757575;
  margin-top: 4px;
}
.modal-text-area::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-input-check {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.modal-field-check {
  margin-bottom: 30px;
}

.modal-link {
  margin-left: 5px;
}

.modal-chekc-lable {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: #757575;
}
.modal-chekc-lable::before {
  content: "";
  width: 16px;
  height: 15px;
  border-radius: 3px;
  border: 2px solid #212121;
  margin-right: 7px;
  transition: background-colo var(--timing-function-trasition);
}

.modal-input-check:checked + .modal-chekc-lable::before {
  background-color: var(--akcent-color);
  background-image: url(../images/icon-send.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border: none;
}

.modal-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: var(--akcent-color);
}

.modal-btn-box {
  text-align: center;
}

.modal-btn {
  display: inline-block;
  font-family: "Roboto", Tahoma, sans-serif;
  background-color: var(--akcent-color);
  color: var(--title-white-color);
  min-width: 200px;
  border-color: transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  align-items: center;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 10px 32px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity var(--timing-function-trasition), visibility var(--timing-function-trasition);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop .is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.8);
  transition: transform var(--timing-function-trasition), opacity var(--timing-function-trasition), visibility var(--timing-function-trasition);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
@media screen and (max-width: 480px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.section-second {
  padding-top: 60px;
  padding-bottom: 60px;
}

.section-third {
  padding-bottom: 94px;
}

.button-portfolio-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-button-item:not(:first-child) {
  margin-left: 8px;
}

.hero-button-portfolio {
  display: inline-block;
  font-family: "Roboto", Tahoma, sans-serif;
  background-color: #F5F4FA;
  color: var(--primery-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  text-align: center;
  padding: 6px 22px;
  border-radius: 4px;
  min-height: 38px;
  transition: background-color var(--timing-function-trasition), box-shadow var(--timing-function-trasition), color var(--timing-function-trasition);
}
.hero-button-portfolio:hover, .hero-button-portfolio:focus {
  background-color: var(--akcent-color);
  color: var(--title-white-color);
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.hero-button-portfolio-acent {
  display: inline-block;
  background-color: var(--akcent-color);
  color: var(--title-white-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  text-align: center;
  padding: 6px 22px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  min-height: 38px;
  transition: background-color var(--timing-function-trasition), color var(--timing-function-trasition);
}
.hero-button-portfolio-acent:hover, .hero-button-portfolio-acent:focus {
  background-color: var(--title-white-color);
  color: var(--akcent-color);
  cursor: pointer;
}

.footer-subscription-btn {
  display: inline-flex;
  font-family: "Roboto", Tahoma, sans-serif;
  background-color: var(--akcent-color);
  color: var(--title-white-color);
  min-width: 200px;
  height: 50px;
  border-color: transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  align-items: center;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 10px 32px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.hero-button {
  display: inline-block;
  font-family: "Roboto", Tahoma, sans-serif;
  background-color: var(--akcent-color);
  color: var(--title-white-color);
  min-width: 200px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  align-items: center;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 10px 32px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.header-logo {
  font-family: "Raleway", Tahoma, sans-serif;
  color: var(--primery-text-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  letter-spacing: 0.03em;
  margin-right: 93px;
}

.logo-akcent {
  color: var(--akcent-color);
}

.nav-header {
  display: flex;
  align-items: center;
  min-height: 80px;
  /* padding-top: 32px;
  padding-bottom: 32px; */
}

.header-list {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  list-style: none;
  letter-spacing: 0.02em;
}

.header-item {
  position: relative;
}
.header-item:not(:last-child) {
  margin-right: 50px;
}

.header-link {
  color: var(--primery-text-color);
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
  transform: color var(--timing-function-trasition);
}
.header-link:hover, .header-link:focus {
  color: var(--akcent-color);
  cursor: pointer;
}
.header-link.current {
  color: var(--akcent-color);
}

.header-link.current::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--akcent-color);
  left: 0px;
  bottom: -32px;
}

.header-connect {
  margin-left: auto;
}

.header-link-second {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  list-style: none;
  letter-spacing: 0.02em;
}

.header-link-text {
  display: flex;
  color: var(--second-text-color);
  text-decoration: none;
  align-items: center;
  transition: color var(--timing-function-trasition);
}
.header-link-text:hover, .header-link-text:focus {
  color: var(--akcent-color);
  cursor: pointer;
}

.header-link-tel {
  margin-left: 30px;
  display: flex;
  color: var(--second-text-color);
  text-decoration: none;
  align-items: center;
  transition: color var(--timing-function-trasition);
}
.header-link-tel:hover, .header-link-tel:focus {
  color: var(--akcent-color);
  cursor: pointer;
}

.header-link-icon {
  margin-right: 10px;
  fill: currentColor;
}

.header {
  /* padding-top: 24px;
  padding-bottom: 25px; */
  /* min-height: 80px; */
}

.hero {
  background-color: #2F303A;
  text-align: center;
  /* height: 600px; */
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (max-width: 480px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-mob.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.hero-title {
  color: var(--title-white-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  width: 360px;
  margin: auto;
  padding-bottom: 30px;
}

.benefits {
  display: flex;
}

.benefits-list {
  list-style: none;
}

.benefits-box {
  display: flex;
  background: #F5F4FA;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 480px) {
  .benefits-box {
    width: 450px;
  }
}

.benefits-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
@media screen and (max-width: 480px) {
  .benefits-title {
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
  .benefits-item {
    margin-top: 30px;
  }
  .benefits-item:first-child {
    margin-top: 0;
  }
}

.benefits-text {
  color: var(--second-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.about-list {
  list-style: none;
  display: flex;
  margin-right: -30px;
}

.about-list__item {
  display: flex;
  flex-basis: calc(33.3333333333% - 30px);
  margin-right: 30px;
  position: relative;
}
.about-list__item:last-child {
  margin-right: 0;
}

/* .about-item-thumb{
    position: relative;
} */
.about-list__text {
  display: inline-block;
  position: absolute;
  padding-top: 27px;
  padding-bottom: 27px;
  text-align: center;
  width: 100%;
  max-height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--title-white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  left: 0px;
  bottom: 0px;
}

.about-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.team {
  /* margin-bottom: 50px; */
  background-color: #F5F4FA;
}

.team-list {
  list-style: none;
  min-width: 270px;
  display: flex;
  margin-right: -30px;
}

.team-item {
  flex-basis: calc(25% - 30px);
  background: var(--title-white-color);
  margin-right: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-item:last-child {
  margin-right: 0;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.team-title-second {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
  padding-bottom: 10px;
}

.team-text {
  color: var(--second-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
}

.team-socs {
  display: flex;
  list-style: none;
  justify-content: center;
}

.team-socs-item {
  margin-top: 16px;
  margin-right: 10px;
}

.team-socs-link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  fill: var(--silver-icon);
  transition: fill var(--timing-function-trasition), background-color var(--timing-function-trasition);
}
.team-socs-link:hover, .team-socs-link:focus {
  background-color: var(--akcent-color);
  fill: var(--title-white-color);
}

.team-socs-item:last-child {
  margin-right: 0;
}

.team-text-block {
  padding-top: 30px;
  padding-bottom: 30px;
}

.client {
  display: flex;
}

.client-list {
  display: flex;
  list-style: none;
  margin-right: -30px;
}

.client-list__item {
  display: flex;
  margin-right: 30px;
}
.client-list__item:last-child {
  margin-right: 0;
}

.client-list__link {
  flex-basis: calc(16.6666666667% - 30px);
  border: 1px solid var(--silver-icon);
  border-radius: 4px;
  fill: var(--silver-icon);
  transition: border-color var(--timing-function-trasition), fill var(--timing-function-trasition);
  width: 170px;
  height: 92px;
  padding-top: 16px;
  padding-right: 32px;
  padding-bottom: 16px;
  padding-left: 32px;
}
.client-list__link:hover, .client-list__link:focus {
  border-color: var(--akcent-color);
  fill: var(--akcent-color);
}

.client-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.footer {
  background-color: #2F303A;
}

.address {
  display: flex;
}

.footer-cordenats {
  margin-right: 70px;
}

.footer-logo {
  font-style: normal;
  background-color: #2F303A;
  font-family: "Raleway", Tahoma, sans-serif;
  color: var(--title-white-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  letter-spacing: 0.03em;
  cursor: default;
}

.footer-list {
  list-style: none;
  margin-top: 20px;
}

.footer-item:nth-child(-n+2) {
  margin-bottom: 9px;
}

.footer-address {
  font-style: normal;
  background-color: #2F303A;
  color: var(--title-white-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  text-decoration: none;
  letter-spacing: 0.03em;
  cursor: default;
}

.footer-link, .footer-tel {
  font-style: normal;
  background-color: #2F303A;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  text-decoration: none;
  letter-spacing: 0.03em;
  cursor: default;
}

.footer-conect {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
}

.conect-title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1, 2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-white-color);
  align-items: baseline;
}

.conect-list {
  display: flex;
  list-style: none;
}

.conect-item {
  display: flex;
  margin-top: 20px;
  margin-right: 10px;
}
.conect-item:last-child {
  margin-right: 0;
}

.footer-link-icon {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--title-white-color);
  justify-content: center;
  align-items: center;
  transition: background-color var(--timing-function-trasition);
}
.footer-link-icon:hover, .footer-link-icon:focus {
  background-color: var(--akcent-color);
}

.footer-subscription {
  display: flex;
  flex-direction: column;
  /* align-items: baseline; */
  margin-left: 93px;
  margin-top: 12px;
}

.footer-subscription-title {
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-white-color);
  margin-bottom: 20px;
}

.footer-subscription-mail {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: rgb(47, 48, 58);
  padding-left: 16px;
  color: var(--silver-icon);
  margin-right: 12px;
  transition: border-color var(--timing-function-trasition);
}
.footer-subscription-mail:focus {
  border-color: var(--akcent-color);
}

.footer-icon-send {
  margin-left: 10px;
}

.portfolio-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  /* margin-left: -3px;  */
}

.portfolio-list-item {
  width: 400px -30px;
  max-width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  background: var(--title-white-color);
  border: 1px solid #EEEEEE;
  transition: box-shadow var(--timing-function-trasition);
}
.portfolio-list-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}
.portfolio-list-item:nth-child(3n+3) {
  margin-right: 0;
}
.portfolio-list-item:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.portfolio-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-top-text {
  position: absolute;
  height: 100%;
  top: 0;
  padding: 63px 24px 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: var(--title-white-color);
  transform: translateY(100%);
  transition: transform var(--timing-function-trasition);
}
.portfolio-list-item:hover .portfolio-top-text {
  transform: translateY(0%);
}

.portfolio-text-block {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-text {
  color: var(--second-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}

.header-portfolio {
  /* padding-top: 24px;
  padding-bottom: 25px; */
  display: flex;
  border-bottom: 1px solid rgb(236, 236, 236);
  /* box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25); */
}

.header-logo-portfolio {
  font-family: "Raleway", Tahoma, sans-serif;
  color: var(--primery-text-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  letter-spacing: 0.03em;
  /* cursor: default; */
  margin-right: 93px;
}

.logo-akcent-portfolio {
  color: var(--akcent-color);
}

.header-link-portfolio {
  color: var(--primery-text-color);
  text-decoration: none;
  cursor: pointer;
  transition: color var(--timing-function-trasition);
}
.header-link-portfolio:hover, .header-link-portfolio:focus {
  color: var(--akcent-color);
  cursor: pointer;
}

.header-link-portfolio.current {
  color: var(--akcent-color);
}
.header-link-portfolio.current::after {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--akcent-color);
  left: 0px;
  bottom: -32px;
}

.header-link-text-portfolio, .header-tel-portfolio {
  display: flex;
  color: var(--second-text-color);
  text-decoration: none;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  transition: color var(--timing-function-trasition);
}

.header-link-text-portfolio:hover,
.header-link-text-portfolio:focus {
  color: var(--akcent-color);
}

.header-tel-portfolio {
  margin-left: 30px;
}
.header-tel-portfolio:hover, .header-tel-portfolio:focus {
  color: var(--akcent-color);
}

:root {
  --primery-text-color: #212121;
  --second-text-color: #757575;
  --title-white-color: #FFFFFF;
  --akcent-color: #2196F3;
  --silver-icon:#AFB1B8;
  --timing-function-trasition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}/*# sourceMappingURL=main.css.map */