.header-logo{
    font-family: 'Raleway', Tahoma, sans-serif;
    color: var(--primery-text-color);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
    letter-spacing: 0.03em;

    margin-right: 93px;

    @media screen and (max-widht:480px) {
    font-size: 24px;
    }
}

.logo-akcent{
    color: var(--akcent-color);
}

.nav-header{
    display: flex;
    align-items: center;
    min-height: 80px;

    
    @media screen and (max-width:480px){
    min-height: 60px;
    }
    
    @media screen and (min-widht:768px){
    // min-height: 80px;
    }

    @media screen and (min-widht:1200px){

    }
}

.header-navigation{
    @media screen and (max-width:480px){
        display: none;
    }
}

.header-list{
    display: flex;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    list-style: none;
    letter-spacing: 0.02em;

}

.header-item{
    position: relative;

        &:not(:last-child){
        margin-right: 50px;
        }
}

.header-link{
    color: var(--primery-text-color);
    text-decoration: none;


    
    transform:  color var(--timing-function-trasition);

        &:hover,
        &:focus{
        color: var(--akcent-color);
        cursor: pointer;
        }
        
        &.current {
            color: var(--akcent-color);
        }


}

.header-link.current::after{
    content: '';
    position: absolute;
    
    display: block;

    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--akcent-color);
    left:0px;
    bottom: -32px;
}

.header-connect{
    margin-left: auto;

    @media screen and (max-width:480px){
        display: none;
    }
}

.header-link-second{
    display: flex;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    list-style: none;
    letter-spacing: 0.02em;
}

.header-link-text{
    display: flex;
    color: var(--second-text-color);
    text-decoration: none;
    align-items: center;

    transition:  color var(--timing-function-trasition);

        &:hover,
        &:focus{
        color: var(--akcent-color);
        cursor: pointer;
    }
}

.header-link-tel{
    margin-left: 30px;
    display: flex;
    color: var(--second-text-color);
    text-decoration: none;
    align-items: center;

    transition:  color var(--timing-function-trasition);

        &:hover,
        &:focus{
            color: var(--akcent-color);
            cursor: pointer;
        }
}

.header-link-icon{
    margin-right: 10px;
    fill: currentColor;
}
